.box{
    flex-direction:column;
    align-items: center;
}
#navbar div
{
    flex-direction: column;
}
#navbar ul li a
{
    font-size:10px;
    
}
#navbar ul li
{
    padding-left: 2px 8px;
}
.div_1 img{
    height:50px;
    flex-direction: column;
}
    

